<!DOCTYPE HTML>
<html>
	<head>
		<title>
		</title>
		<meta charset='UTF-8'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel='stylesheet' href='../stylesheets/slider_1.css'>
	</head>
	<body>
		<div class='b-slider' id='slider1'>
		
			<div class='b-picture'><img src='' class='b-picture__image' alt='' title=''></div>
			
			<div class='b-navigate'>

				<div class='b-navigate__point b-navigate__point_1'></div>
				<div class='b-navigate__point b-navigate__point_2'></div>
				<div class='b-navigate__point b-navigate__point_3'></div>
				<div class='b-navigate__point b-navigate__point_4'></div>
				<div class='b-navigate__point b-navigate__point_5'></div>

			</div>

			<div class="b-controls">
				
				<div class="b-controls__common b-controls__prev">
					<i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
				</div>
				<div class="b-controls__common b-controls__next">
					<i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
				</div>

			</div>

		</div>	

		<script src="../scripts/jquery-3.0.0.min.js"></script>
		<script src="../scripts/slider_1.js"></script>
		<script>
			var slider1 = new Slider($("#slider1"));
		</script>

	</body>
</html>