#table td, #table th {
    border: 2px solid black;
    height: 18px;
}
#table {
    border: 2px dashed black;
}
#table td:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
}
button {
    cursor: pointer;
}
.controls {
		margin-left: 20px;
}